registry=https://pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/:username=hexagonPPMInnerSource
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/:_password=czRwZTVmb2VnNzJ2aG5hbHNxamp6ZDJhcndmaWZ2NzZ1dHl0eG41cm16aXZ6YWEyN2o3YQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/:username=hexagonPPMInnerSource
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/:_password=czRwZTVmb2VnNzJ2aG5hbHNxamp6ZDJhcndmaWZ2NzZ1dHl0eG41cm16aXZ6YWEyN2o3YQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/:email=npm requires email to be set but doesn't use the value
; end auth token